language = "erlang"
compile = "make"
run = "make shell"
entrypoint = "src/vlm.erl"
modules = ["nix"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[nix]
channel = "stable-24_05"

[deployment]
build = ":"
run = ":"
